snippet vars "useful makefile vars" !b
CC = g++
INCPATH = -IC:\Users\LinGo\lib\include
LIBPATH = -LC:\Users\LinGo\lib
CXXFLAGS = -std=c++11 -Wall -Ox

endsnippet

snippet qtvars "useful makefile vars" !b
CXX = C:\Users\LinGo\lib\QTVERSIONS\5.0.2\mingw47_32\bin\g++.exe
CC  = C:\Users\LinGo\lib\QTVERSIONS\5.0.2\mingw47_32\bin\gcc.exe
INCPATH = -IC:\Users\LinGo\lib\include
LIBPATH = -LC:\Users\LinGo\lib
CXXFLAGS = -std=c++11 -Wall -Ox

endsnippet
